extends include/head.pug

block title 
    title Document Title

block variable
    - var bodyClass = ''
    - var pageContainerClass = 'page'

block content
    include ./include/header.pug

    +b(class=pageContainerClass)
        +e.H1(style='text-align: center;') Clear

    include ./include/footer.pug