extends include/head.pug

//- includes
include ./include/header.pug
include ./include/footer.pug

//- Components
include ../components/component/component.pug

block title 
    title Document Title

block variable
    - var bodyClass = ''
    - var pageContainerClass = 'page'

block content
    +b(class=pageContainerClass)
        +header()
        +component()
        +footer() 
