extends include/head.pug
//- includes
include ./include/header.pug
include ./include/footer.pug

block title 
    title Document Title

block variable
    - var bodyClass = ''
    - var pageContainerClass = 'page'

block content
    +b(class=pageContainerClass)

        +b.HEADER.header
            .container
                span
                    <svg viewBox="0 0 437 675" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M220.767 153.1C210.737 141.645 193.325 140.431 181.8 150.41C170.236 160.424 168.98 177.916 178.994 189.48C189.007 201.044 206.499 202.3 218.063 192.286C225.883 185.514 228.99 175.321 227.084 165.855L269.612 149.051C273.8 156.069 279.764 161.903 286.885 165.932L253.933 259.862C250.708 259.296 247.388 259 244 259C213.824 259 189.124 282.449 187.13 312.12L91.7081 334.461C85.5852 315.62 67.8831 302 47 302C21.0426 302 0 323.043 0 349C0 374.957 21.0426 396 47 396C70.1642 396 89.4144 379.242 93.2891 357.189L190.609 336.003C198.203 356.263 216.998 371.05 239.455 372.821L246.16 502.913C237.507 507.734 230.534 515.209 226.344 524.238L187.084 508.726C188.99 499.26 185.883 489.067 178.063 482.295C166.499 472.281 149.007 473.537 138.994 485.101C128.98 496.665 130.236 514.157 141.8 524.171C153.325 534.15 170.737 532.936 180.767 521.481L222.342 538.303C222.116 540.17 222 542.072 222 544C222 563.753 234.185 580.659 251.449 587.613L245.547 610.388C237.139 609.79 228.564 613.023 222.622 619.885C212.608 631.448 213.865 648.94 225.428 658.954C236.992 668.968 254.484 667.711 264.498 656.147C274.511 644.584 273.255 627.092 261.691 617.078C260.57 616.107 259.393 615.242 258.172 614.482L265.186 590.847C266.444 590.948 267.716 591 269 591C277.775 591 285.988 588.595 293.017 584.409L340.561 629.581C331.545 641.129 333.075 657.846 344.276 667.546C355.84 677.559 373.332 676.303 383.346 664.739C393.359 653.175 392.103 635.683 380.539 625.67C372.668 618.854 362.051 617.259 352.915 620.582L304.837 574.41C311.8 566.213 316 555.597 316 544C316 536.497 314.242 529.405 311.116 523.113L346.97 496.263C358.29 503.045 373.181 500.934 382.118 490.615C392.131 479.051 390.875 461.559 379.311 451.545C367.747 441.531 350.255 442.788 340.242 454.352C332.186 463.655 331.424 476.795 337.456 486.791L303.119 511.675C295.072 503.185 283.89 497.695 271.426 497.061L265.506 368.803C275.146 364.873 283.468 358.38 289.626 350.17L343.579 374.602C343.198 377.012 343 379.483 343 382C343 407.957 364.043 429 390 429C415.957 429 437 407.957 437 382C437 356.043 415.957 335 390 335C374.597 335 360.924 342.41 352.352 353.859L299.777 327.802C300.578 323.994 301 320.046 301 316C301 296.8 291.507 279.816 276.958 269.489L310.264 171.999C321.727 171.936 332.218 167.77 340.343 160.894L377.456 187.79C371.424 197.786 372.186 210.926 380.242 220.229C390.255 231.793 407.747 233.05 419.311 223.036C430.875 213.022 432.131 195.53 422.118 183.966C413.181 173.647 398.29 171.536 386.97 178.318L349.597 150.33C354.283 143.02 357 134.328 357 125C357 114.606 353.626 105 347.913 97.2171L392.915 53.9986C402.051 57.3217 412.668 55.7272 420.539 48.9113C432.103 38.8976 433.359 21.4057 423.346 9.84197C413.332 -1.72172 395.84 -2.97823 384.276 7.03549C373.075 16.7353 371.545 33.4519 380.561 45.0004L336.917 86.4662C329.293 81.1305 320.012 78 310 78C307.833 78 305.701 78.1466 303.612 78.4304L298.172 60.0991C299.393 59.3391 300.57 58.4741 301.691 57.503C313.255 47.4892 314.511 29.9973 304.498 18.4336C294.484 6.86989 276.992 5.61341 265.428 15.6271C253.865 25.6409 252.608 43.1328 262.622 54.6965C268.564 61.5584 277.139 64.7909 285.547 64.1928L290.249 82.339C274.159 89.8007 263 106.097 263 125C263 128.621 263.409 132.146 264.185 135.532L220.767 153.1Z" fill="url(#paint0_linear)"/>
                        <defs>
                        <linearGradient id="paint0_linear" x1="218.5" y1="0.275574" x2="218.5" y2="674.305" gradientUnits="userSpaceOnUse">
                        <stop stop-color="#D97A4C"/>
                        <stop offset="1" stop-color="#4A4A4A"/>
                        </linearGradient>
                        </defs>
                    </svg>
                    | P.V
                div.item
                    h1 Clean Gulp
                    small Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quod recusandae nisi ipsa aut. Repudiandae obcaecati at minus quae iusto temporibus, fugiat, quas distinctio tempore dolor delectus fuga! Eaque, voluptatibus?
                

        +b.SECTION.section-one
            .container
                +b.color-block
                    +e.title Quartz
                    +e.bg.quartz
                    +e.text
                        .color-1 Hex: #4A4A4A
                        .color-2 RGB: (74, 74, 74)
                        .color-3 CMYK: 0, 0, 0, 0.709
                        .color-4
                +b.color-block
                    +e.title Burnt Sienna
                    +e.bg.burnt-sienna
                    +e.text
                        .color-1 Hex: #D97A4C
                        .color-2 RGB: (217, 122, 76)
                        .color-3 CMYK: 0, 0.437, 0.649, 0.149
                        .color-4
                +b.color-block
                    +e.title Eggshell
                    +e.bg.eggshell 
                    +e.text
                        .color-1 Hex: #F2E7D5
                        .color-2 RGB: (242, 231, 213)
                        .color-3 CMYK: 0, 0.045, 0.119, 0.050
                        .color-4
                +b.color-block
                    +e.title Khaki (HTML/CSS)
                    +e.bg.khaki
                    +e.text
                        .color-1 Hex: #B9AF94
                        .color-2 RGB: (185, 175, 148)
                        .color-3 CMYK: 0, 0.054, 0.2, 0.274
                        .color-4

        +b.SECTION.section-two
            .container
                +b.grid-container
                    +e.grid-item 
                        h1 Lorem ipsum dolor sit amet.
                        h2 Animi, esse assumenda? Pariatur, ex.
                        h3 Quo debitis eius est neque.
                        h4 Non earum illum eveniet rem.
                        h5 Earum doloremque facilis assumenda magni.
                        h6 Non consectetur ad eveniet impedit!
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat vitae, suscipit explicabo totam eaque repellat deleniti? Animi magnam saepe repudiandae, rerum porro eaque minima esse provident obcaecati et nostrum optio!
                        a(href="") Lorem, ipsum.
                        a(href="") Facere, maiores!
                        a(href="") Fugiat, numquam!

                    +e.grid-item 
                        h1 Lorem ipsum dolor sit amet.
                        h2 Animi, esse assumenda? Pariatur, ex.
                        h3 Quo debitis eius est neque.
                        h4 Non earum illum eveniet rem.
                        h5 Earum doloremque facilis assumenda magni.
                        h6 Non consectetur ad eveniet impedit!
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat vitae, suscipit explicabo totam eaque repellat deleniti? Animi magnam saepe repudiandae, rerum porro eaque minima esse provident obcaecati et nostrum optio!
                        a(href="") Lorem, ipsum dolor.
                        a(href="") Ab, sequi ipsum.
                        a(href="") Recusandae, ipsum!

        +b.SECTION.bootstrap
            .container
                .row
                    .col-3 Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium deleniti sit corrupti minima. Quae deserunt architecto rerum maxime maiores ipsum aliquam necessitatibus, quasi expedita error tempora voluptatem eligendi quidem voluptate!
                    .col-3 Unde provident reprehenderit consequatur, a at harum exercitationem excepturi tenetur dolorem dicta ex iste asperiores error id obcaecati? Veritatis doloremque enim incidunt officiis, sed pariatur asperiores sunt rerum inventore et.
                    .col-3 Obcaecati hic vitae molestiae recusandae perferendis repellendus sequi odio cumque eos dolor eaque, impedit placeat ad excepturi, ratione in veritatis saepe minima fugiat facere consequuntur quam? Numquam labore nulla perspiciatis.
                    .col-3 Deleniti tempore id sint totam ex libero, velit eligendi, nisi adipisci ipsum illum aut dolorem alias eum reiciendis nesciunt amet assumenda rem explicabo laboriosam sapiente maiores et. Quo, beatae quia!
