mixin header()
    +b.HEADER.header
        h1 Header

        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam, quo cumque deserunt quidem esse quae at ipsam quod ducimus, eum, iure maiores veritatis dignissimos necessitatibus sapiente nobis fugiat tenetur. Dolore.

        +b.UL.nav
            each link in navigation.nav.links
                li
                    a(href="#") #{link.displayName}
