mixin header()
    .container
        <svg width="584" height="546" viewBox="0 0 584 546" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M168 0.5H161.573L156.839 4.84726L9.83932 139.847L0.156494 148.74L6.66134 160.164L185.161 473.664L187.725 478.166L192.402 480.395L320.402 541.395L329.344 545.657L337.31 539.767L419.81 478.767L423.039 476.38L424.81 472.775L469 382.816V307.97L396.961 454.62L325.656 507.343L211.275 452.834L41.8435 155.26L174.427 33.5H432.271L544.205 154.874L521.547 201H558.313L578.81 159.275L583.795 149.126L576.129 140.814L451.629 5.81398L446.729 0.5H439.5H168Z" fill="#D70000"/>
        </svg>

        +b.UL.nav
            each link in navigation.nav.links
                li
                    a(href="#") #{link.displayName}
